/*This is my custom stylesheet*/

body {
    color: #3f5364;
}

/*Header*/

.base .main-slider.home-slider {
    height: 350px;
}

.base .cover {
        border-bottom: 2px solid #51626f;
}


header .sixteen.columns {
/*    border-bottom: 1px solid #67a2b9;*/
    padding-bottom: 0px;
    padding-top: 20px;
    font-family: Calibri;
}


.tp-bannertimer {
    display: none;
}

.container .menu-container  {
    float: left;
}

.menu-main-menu-container {
    float: right;
    margin: 0px auto;
    width: 70%;
}

.logospace {
    /*margin-top: 10px;*/
}

.top-menu {
    float: left;
    width: 100%;
}

.menu-container ul.menu {
    width: 100%;
    margin: 0px auto;
}

.menu-container.menu,
.menu-container ul.menu  {
        padding-top: 5px;
}

.menu-container ul.menu li{
    padding: 5px;
}

.menu-container ul.menu li a {
    color: #03202F;
    font-family: calibri;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}


.menu-container ul.menu li a:hover,
.menu-container ul.menu li.current-menu-item a {
    font-family: calibri;
    font-weight: bold;
    font-size: 16px;
}

.menu-container a.claim-btn,
.menu-container a.call-mebtn {
    float: left;
    padding: 10px;
}


/*Menu Items*/


.menu-about-menu-container .menu {
    padding-top: 20px;
}
.top-menu .menu-main-menu-container ul.menu li.current-menu-item {
    background: rgba(0, 0, 0, 0) url("../images/icons/menuIndicator.png") no-repeat scroll center center;
    padding-bottom: 35px;

}

.top-menu .menu-main-menu-container ul.menu li {
    margin: 0px auto;
    /*width: 18%;*/
    float: left;
    /*text-align: center;*/
}

.menu-about-menu-container {
    float: left;
    left: -52px;
    position: relative;
    width: 96.7%
}

.secondary-menu ul.menu {
    /*border-bottom: 2px solid #5e9cae;*/
    margin-bottom: 10px;
    padding-top: 20px;
    /*padding-bottom: 20px;*/
    line-height: 17px;
    width: 100%;
}

.content-section {
    border-top: 2px solid #5e9cae;
    padding-top: 20px;
}


body.home .content-section {
    border: 0px;
    padding-top: 0px
}


  
.top-menu a.claim-btn,
.top-menu a.call-mebtn {
    float: left;
    padding-top: 10px;
    margin-left: 10px;
}


.about-seconday ul li {
    float: left;
    text-align: left;
    line-height: 28px;
    padding-left: 35px;
    width: 100%;
}

.about-seconday ul li a {
    color: #67a2b9;
    font-family: calibri;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
}

.about-seconday ul li.current-menu-item a {
    color: #3f5364;
    font-family: calibri;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.about-seconday ul li.current-menu-item {
    background: url("../images/icons/subIndicator.png") no-repeat;
}

.about-seconday ul li {
    position: relative;
    /*line-height: 17px;*/
    left: 6px;   
}

.content .seven.columns {
       margin-left: 0px;
}

.about .six.columns .about-seconday ul li {
    padding-left: 35px;
}


.about-seconday {
    float: left;
    width: 100%;
}


/*Secondary Menu Styles*/

ul.menu li {
    margin-bottom: 0px;
}

ul.menu ul.sub-menu {
    float: left;
    margin-left: 0px;
    width: 100%;
}

ul.menu ul {
    display:none;
}

ul.menu li.current-menu-item  ul.sub-menu {
    display: block;
}

ul.menu li.current-menu-item ul.sub-menu li {
    background: url("../images/subIndicator.png") no-repeat scroll 3px 8px;
    float: left;
    padding-left: 20px;
    width: 100%;
}

ul.menu ul.sub-menu li a {
    color: #97a1a9;
    font-size: 18px;
    font-weight: normal;
}


/*Home Page Banner*/

.home-slider .container {
    /*margin: auto;*/
    position: relative;
    top: -60px;
    /*width: 450px;*/
    z-index: 1000;
}

.packages ul {
    margin: auto;
    /*position: relative;*/
    /*top: -60px;*/
    width: 450px;
    /*z-index: 1000;*/
}

.packages ul li {
    float: left;
    font-family: calibri;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    width: 40%;
}

.packages ul li {
     background: #67a2b9;
    margin-right: 15px;
 }
 
 .packages ul li:hover {
     background: #03202f;
 }


.packages ul li a {
    color: #ffffff;
    font-family: calibri;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}




/*Content*/

.content-section {
/*    position: absolute;*/
/*    margin-top: 16px*/
/*    width: 90%;*/
    position: relative;
    /*top: -39px;*/
}

/*.about .content-section {*/
    /*position: relative;*/
    /*top: 0px;*/
/*}*/


.inner-header {
    width: 100%;
}


.content-section .section {
    /*margin-top: 25px;*/
}


.content-section .section .commitment,
.content-section .section .drop-points{
    margin-top: 26px;
}

.content-section .page-title h1,
.content-section .page-title h2{
    color: #03202F;
    font-family: calibri;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
}


.content-section .welcome-cont p {
    color: #51626f;
    font-family: calibri;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 10px;
}


.content-section .page-title h3 {
    color: #3f5364;
    font-family: calibri;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.content-section .video-qoute  h3 {
    color: #5e9cae;
    font-family: calibri;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.section .commitment h3 {
    color: #5e9cae;
    font-family: calibri;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    line-height: 24px;
}

.content-section .welcome-cont h3 {
    color: #5E9CAE;
    font-family: calibri;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    line-height: 25px;
    margin-bottom: 10px;
}

.welcome-cont ul .content {
    display: none;
}

.welcome-cont ul li{
    border: 0px;
    color: #5E9CAE;
    font-size: 12px;
    height: auto;
    list-style: disc;
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: pointer;
    padding: 5px;
}

.dropd .welcome-cont ul {
    margin-left: 15px;
}

.section .testimonial p {
    line-height: 17px;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}


.section .testimonial span{
    color: #5E9CAE;
    font-size: 12px;
    font-weight: bold;
}

.columns .clock {
    padding-top: 37px;
}

.columns .clock img {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

}


.columns .clock img:hover {
    cursor: pointer;
    transform: scale(1.5);
    /*transition: 0.8s ease-in-out;*/
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}



.container.content .page-title h1 {
    text-transform: none;
}


.container.content.careers .page-title h1 {
    text-transform: uppercase;
}



.intro p {
    color: #3f5364;
    font-family: calibri;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 10px;
}

.dig-content p {
    color: #3f5364;
    font-family: calibri;
    font-size: 12px;
    margin-bottom: 10px;
}

.dig-content p strong {
    color: #03202f;
    font-family: calibri;
    font-size: 16px;
}


.qoute h3 p {
    color: #5e9cae;
    font-size: 22px;
    font-family: calibri;
    font-weight: bold;
    font-style: italic;
    line-height: 24px;
    text-transform: uppercase;
    width: 100%;
}


.dignify span.dig {
    color: #5e9cae;
    font-size: 12px;
    font-family: calibri;
    float: left;
    line-height: 17px;
}

.dig-content .toggle {
    margin-top: 0px;
}

.dignify img {
    /*margin: 0px auto;*/
    /*margin-left: 51px;*/
}


.sidebar-content .claim-tag {
    background: #479bb6;
    color: #ffffff;
    /*float: left;*/
    /*padding: 15px;*/
    padding-bottom: 30px;
}

.sidebar-content .claim-tag p span.hastag {
    font-size: 16px;
    font-weight: normal;
    float: left;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.sidebar-content .claim-tag p {
    color: #ffffff;
    font-family: calibri;
    font-size: 22px;
    font-weight: bold;
    /*float: left;*/
    line-height: 30px;
    text-transform: none;
    padding: 15px;
    text-align: center;
    /*width: 100%;*/
}


.sidebar-content .claim-tag a {
    background: #ffffff;
    color: #3f5364;
    font-family: calibri;
    font-size: 14px;
    font-weight: normal;
    /* float: left; */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px;
    margin: 0 auto;
    padding-left: 25px;
    /* width: 93%; */
    padding-right: 25px;
    margin-left: 33px;
}


/*footer*/

.background-container {
    bottom: 0px;
    left: -42px;
    /*padding-bottom: 185px;*/
    position: absolute;
}

.background {
    background: url("../images/background.png") no-repeat scroll 15px 15px;
    bottom: -185px;
    height: 500px;
    position: absolute;
    left: -351px;
    width: 984px;
    z-index: -9999;
}

.timeline-container {
    bottom: 0;
    float: left;
    margin-top: 50px;
    position: relative;
    width: 100%;
}

.timeline-container .footer .inner-footer {
    /*float: left;*/
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
}

.timeline-container .footer ul.timeline {
    /*border: 1px solid #5e9cae;*/
    float: left;
    height: 75px;
    margin: 0 auto;
    /*padding-left: 145px;*/
    width: 100%;
}

hr {
    border-color: #5e9cae;
    margin: 10px 0 -40px;
}

.timeline-container .footer ul.timeline li {
    cursor: pointer;
    height: 65px;
    line-height: 0px;
    padding: 10px;
    padding-top: 0px;
    margin-bottom: 0px;
    width: 2.5%;
}

.timeline-container .footer ul.timeline li.blue {
    background: url("../images/icons/blue.png") no-repeat ;
    transition: background-image 0.8s ease-in-out;
    background-position: center;
    /*z-index: 9999;*/
}

.timeline-container .footer ul.timeline li.gray {
    background: url("../images/icons/gray.png") no-repeat scroll 0 4px;
    transition: background-image 0.8s ease-in-out;
    background-position: center;
}

.timeline-container .footer ul.timeline li.navy {
    background: url("../images/icons/navy.png") no-repeat scroll 0 4px;
    transition: background-image 0.5s ease-in-out;
    background-position: center;

}

.timeline-container .footer ul.timeline li.blue-small {
    background: url("../images/icons/blue-small.png") no-repeat scroll 0 4px;
    transition: background-image 0.8s ease-in-out;
    background-position: center;
}



.timeline-container .footer ul.timeline li span {
    display: none;
}

.timeline-container .footer ul.timeline li.icon-one:hover {
    background: url("../images/icons/since.png") no-repeat scroll 5px 0px;
    transition: background-image 0.8s ease-in-out;
    padding: 10px;
    width: 75px;
    z-index: 9999;
}


.timeline-container .footer ul.timeline li.icon-two:hover {
    background: url("../images/icons/iconTwo.png") no-repeat scroll 5px 0px;
    transition: background-image 0.8s ease-in-out;
    padding: 10px;
    width: 75px;
    z-index: 9999;
}


.timeline-container .footer ul.timeline li.icon-three:hover {
    background: url("../images/icons/iconThree.png") no-repeat scroll 5px 0px;
    transition: background-image 0.8s ease-in-out;
    padding: 10px;
    width: 75px;
    z-index: 9999;
}


.timeline-container .footer ul.timeline li:hover {
    padding: 10px;
}

.vacancies ul li.job-item {
    background: url("../images/icons/asterix.png") no-repeat scroll 0px 2px;
    padding-left: 15px;

}

.vacancies ul li.job-item a {
    padding-right: 10px;
}

.vacancies ul li.job-item a,
.vacancies ul li.job-item span {
    color: #5e9cae;
    font-family: calibri;
    text-decoration: none;
    font-size: 12px;
}

.secondary-column-content {
    margin-top: 40px;
}

.secondary-column-content p {
    color: #3f5364;
    font-family: calibri;
    font-size: 14px;
    margin-bottom: 10px;
}

.form .careers-form .form-table {
    background: #f3f3f1 none repeat scroll 0 0;
    border: 1px solid #68a2b2;
    float: left;
    height: 354px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}


.form .careers-form .form-table p input.wpcf7-tel {
    padding: 6px 4px;
    width: 275px;
    margin: 0px auto;
    margin-left: 15px;
}

.form .careers-form .form-table p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form .careers-form .form-table p input,
.form .careers-form .form-table p textarea, selected {
    background: #f3f3f1;
    border-bottom: 1px solid #68a2b2;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    text-align: center;
}


.form .careers-form input.upload {
    background: #479bb6;
    color: #ffffff;
    padding: 15px;
    width: 66%;
}


.form .careers-form .form-table p textarea {
    border-bottom: 0px;
}

.form .careers-form p .wpcf7-submit {
    border: 0px;
    background: #479bb6;
    color: #ffffff;
    font-size: 14px;
    padding: 15px;
    width: 72.8%;
}

.careers .content-section .page-title h3 {
    font-size: 20px;
}

.job {
    margin-bottom: 10px;
}

.job h3.job-title {
    color: #3f5364;
    font-family: calibri;
    font-size: 14px;
    font-weight: bold;
    /*text-transform: uppercase;*/
}

.job .job-descr p {
    margin-bottom: 0px;
    color: #3f5364;
    font-family: calibri;
    font-size: 14px;
}


form.wpcf7-form .careers-form .form-table input,
form.wpcf7-form .careers-form .form-table textarea {
    width: 275px;
    margin: 0px auto;
}

p {
    color: #3f5364;
    font-family: calibri;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 10px;
}

.compliance {
    padding-top: 20px;
}

.compliance p strong {
    color: #3f5364;
    font-family: calibri;
}


.compliance .content-section .page-title h1 {
    text-transform: capitalize;
}

.job span a {
    color: #5e9cae;
    font-weight: bold;
    text-decoration: none;
}

.premium-enquiry {
    margin-top: 30px;
}


.premium-enquiry span {
    float: left;
    font-family: calibri;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    width: 100%;
}

.premium-enquiry p {
    font-family: calibri;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    width: 100%;
}


.products .content-section .col-one {
    border-radius: 75px 0px 0px;
    color: #ffffff;
    font-family: calibri;
    /*text-align: center;*/
    background: #77bbd6;
    padding: 10px;
}

.products .content-section .col-one .inner {
    border-radius: 75px 0px 0px;
}

.products .content-section .col-one p {
    color: #ffffff;
    font-family: calibri;
    font-size: 12px;
    text-align: left;
    /*background: #77bbd6;*/
    padding: 25px;
}

.products .content-section .col-one ul.features {
    color: #ffffff;
    font-family: calibri;
    font-size: 12px;
    text-align: left;
    padding: 30px;
}

.products .content-section .col-one ul.features li {
    list-style-type: disc;
}

.products .content-section .col-one p strong {
    color: #ffffff;
    font-family: calibri;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
}


.products .content-section .col-one .inner .tabs ul {
    float: left;
    width: 100%;
}

.products .content-section .col-one .inner .tabs ul li {
    float: left;
    font-size: 11px;
    opacity: 0.5;
    text-align: center;
    width: 30%;
}


.products .content-section .col-one .inner .tabs ul li.active {
    font-size: 14px;
    font-weight: bold;
    opacity: 1;
}

.toggle {
    margin-top: 25px;   
}


.toggle .toggler {
    
}

.toggle .toggler span {
    background: rgba(0, 0, 0, 0) url("../images/icons/closeArrow.png") no-repeat scroll 99px 8px;
    color: #5e9cae;
    cursor: pointer;
    float: left;
    font-family: calibri;
    font-size: 16px;
    font-weight: bold;
    padding-right: 52px;
    text-decoration: none;
    width: 83%;
}

.toggle .toggler .content {
    display: none;
    color: #51626f;
    font-family: calibri;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    width: 100%;
}

.toggle .toggler span.open {
    background: rgba(0, 0, 0, 0) url("../images/icons/openArrow.png") no-repeat scroll 99px 8px;
    color: #03202f;
}


.testimonials .testimonial {
    line-height: 17px;
}


/*Media Query Overwrites*/
@media only screen and (min-width: 1280px){
    .five.columns  {
/*        margin-right: 55px;*/
    }

/*    .content-section .five.columns {
        width: 400px;
    }

    .about .content-section .three.columns {
        width: 265px;
    }*/

}